<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
<!-- 配置自动扫描注解 -->	
	<context:annotation-config></context:annotation-config>
<!-- activeMQ提供的connection工厂，得到具体的connection -->
	<bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://120.24.58.110:61616"></property>
	</bean>
<!-- spring提供的工厂，作用是产生多个connection，相当于一个连接池，便于回收 -->
	<bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
		<property name="targetConnectionFactory" ref="targetConnectionFactory"></property>
	</bean>
<!-- 实例化一个目的地 -->
	<bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="queue"></constructor-arg>
	</bean>
<!-- spring提供的消息队列的操作 -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory"></property>
	</bean>
<!-- 实例化接口实现 -->
	<bean id="providerService" class="com.demo.service.impl.ProviderServiceImpl">
		<property name="jmsTemplate" ref="jmsTemplate"></property>
		<property name="destination" ref="destination"></property>
	</bean>
	<bean id="consumerService" class="com.demo.service.impl.ConsumerServiceImpl">
		<property name="jmsTemplate" ref="jmsTemplate"></property>
		<property name="destination" ref="destination"></property>
	</bean>
</beans>
